<header class="app-header">
  <div class="row">
    <a href="#" class="app-header__title">Recipe Book</a>
    <nav class="navbar-header">
      <ul class="nav nav--pull-left nav-primary nav-primary--pull-left">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>
      <ul class="nav nav--pull-right">
        <li class="">
          <a href="#" class="dropdown-toggle">Dropdown <span class="fa fa-caret-down" aria-hidden="true"></span></a>
          <ul class="nav dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
